server:
  port: 8081
spring:
  datasource:
    url:  jdbc:mysql://localhost:3308/springcloud-user?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: mysql1225
    driver-class-name: com.mysql.cj.jdbc.Driver

#  application:
#    name: userservice #eureka服务名称
#  cloud:
#    nacos:
#      server-addr: localhost:8848
#      discovery:
#        cluster-name: SH #集群名称
#        ephemeral: false #是否为临时实例
#eureka:
#  client:
#    #设置注册中心的地址，注意加空格，访问地址localhost:10086
#    service-url:
#      defaultZone: http://127.0.0.1:10086/eureka/

mybatis:
  type-aliases-package: com.lm.user.pojo
  configuration:
    map-underscore-to-camel-case: true
logging:
  level:
    com.lm: debug
  pattern:
    dateformat: MM-dd HH:mm:ss:SSS